.about-me-content {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.about-me-content figure img {
    max-width: 400px;
    margin: 0 20px 0 0;
    padding: 0;
}

.about-me-content .container {
    max-width: calc(100% - 440px);
    text-align: center;
}

@media (max-width: 900px) {
    .about-me-content {
        flex-direction: column;
    }

    .about-me-content figure {
        margin: 0 0 20px 0;
    }

    .about-me-content .container {
        max-width: 100%;
        text-align: left;
    }
}

.button-audio-play {
    border: none;
    background-color: none;
    margin-left: 4px;
}

ul>li {
    margin-top: .3em;
}

ul>li>ul {
    margin-left: 1em;
}